<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mito ou Verdade</title>
    <link rel="stylesheet" href="../../assets/css/home.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="../../assets/img/Logo-preview.png" alt="">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Em Casa</a></li>
                    <li><a href="#">Giro da Notícia</a></li>
                    <li><a href="#">Imagens Malucas</a></li>
                    <li><a href="#">Me Conheça</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <article class="news-article">
            <h1>Mito ou Verdade: uma senha forte realmente impede que acessem suas contas?</h1>
            <div class="image-container">
                <img src="https://tm.ibxk.com.br/2023/11/22/22160102124147.jpeg?ims=1280x480" alt="Imagem da Notícia">
            </div>
            <div class="containerArticle">
                <div class="newsview">
                    <p>
                        Manter a segurança online é uma tarefa considerada muito importante nos dias de hoje, afinal, a maioria das transações financeiras atuais são realizadas de forma digital.
                        <img src="https://tm.ibxk.com.br/2023/11/22/22143429959067.jpg?ims=704x" alt="Imagem 1">
                    </p>
                    <p>
                        Seja para resguardar as suas contas das redes sociais, ou para fortalecer a segurança da sua conta bancária, uma senha segura é extremamente importante para auxiliar as pessoas a se protegerem contra as ameaças na internet.
                    </p>
                    
                    <p>
                        Mas ainda existem muitas pessoas que utilizam senhas fracas e/ou não acreditam que as passwords são de extrema importância para garantir a segurança online. Antes de tudo, já podemos afirmar que uma senha segura não é um mito e ela pode manter suas contas mais seguras; não é à toa que o Departamento de Segurança Interna dos Estados Unidos e a Aliança Nacional de Segurança Cibernética se juntaram para criar o mês nacional de segurança cibernética, que acontece anualmente em outubro.
                    </p>
                    <p>
                        Ao criar uma senha mais complexa, você garantirá mais proteção contra o acesso de pessoas não autorizadas e, assim, suas informações confidenciais estarão mais protegidas contra indivíduos maliciosos que possam tentar acessar as suas contas.
                    </p>
                    <p>
                        <img src="https://tm.ibxk.com.br/2023/11/22/22142656555062.jpg?ims=704x" alt="Imagem 2">
                    </p>
                    <p>
                        Para esclarecer se utilizar uma senha forte realmente impede que acessem suas contas, o TecMundo reuniu informações de especialistas sobre o tema. Confira!
                    </p>
                    <h2>Uma senha forte oferece mais segurança</h2>
                    <p>
                        Apesar de existirem diversos softwares que aumentam a segurança dos dispositivos, uma senha poderosa é considerada a primeira linha de defesa contra o acesso não autorizado às suas informações pessoais. Por isso, é importante não utilizar passwords fracos ou repetidos, algo que acontece recorrentemente entre pessoas em todo o mundo.
                    </p>
                    <p>
                        De acordo com um estudo realizado pela NordPass VPN, diversas pessoas possuem mais de 100 senhas para diferentes contas, por isso, muitas dessas palavras-chave acabam sendo fáceis para auxiliar a lembrá-los; o número aumentou durante a pandemia, quando as pessoas começaram a utilizar a internet mais frequentemente. Contudo, isso também facilita que criminosos descubram as passwords para acessar as contas pessoais e, dessa forma, cometer crimes.
                    </p>
                    <p>
                        “Agora entendemos parcialmente por que as pessoas usam senhas fáceis de adivinhar — elas simplesmente têm muitas para lembrar. Portanto, não é de surpreender que as pessoas usem senhas muito simples ou tenham algumas e as reutilizem para todas as contas”, explica um especialista da NordPass VPN Security.
                    </p>
                    <h3>5 senhas mais utilizadas no mundo segundo a NordPass VPN:</h3>
                    <ul>
                        <li>123456</li>
                        <li>admin</li>
                        <li>12345678</li>
                        <li>123456789</li>
                        <li>1234</li>
                    </ul>
                    <h3>5 senhas mais utilizadas no Brasil:</h3>
                    <ul>
                        <li>admin</li>
                        <li>123456</li>
                        <li>12345678</li>
                        <li>102030</li>
                        <li>123456789</li>
                    </ul>
                    <p>
                        Em um estudo realizado em 2019 entre usuários de internet nos Estados Unidos, o Google e a empresa Harris Poll descobriram que três a cada quatro norte-americanos têm dificuldades para manter o controle das senhas. Afinal, manter muitas senhas difíceis não é uma tarefa tão simples quanto pode parecer.
                    </p>
                    <p>
                        Em resumo, uma senha forte é uma medida extremamente importante necessária para aumentar a segurança das suas contas, mas ela não é uma garantia de que terceiros não as acessarão. A sua proteção também depende da proteção do seu dispositivo, da autenticação em duas etapas, do uso responsável da internet e de outras práticas.
                    </p>
                    <h3>Dicas para criar senhas seguras</h3>
                    <p>
                        É importante destacar que uma boa senha deve ser pensada de uma forma original, ou seja, não use senhas iguais ou semelhantes que sejam fáceis. No caso contrário, um indivíduo malicioso poderia utilizar a mesma senha para comprometer diversas contas. Por isso, a primeira dica é: utilize senhas diferentes para cada um dos seus serviços, seja para uma rede social ou para acessar um banco.
                    </p>
                    <h4>5 dicas para criar uma senha segura</h4>
                    <ul>
                        <li>Utilize senhas longas, com 12 ou mais caracteres;</li>
                        <li>O equilíbrio entre letras maiúsculas, minúsculas, números e símbolos é o ideal para criar uma password mais forte;</li>
                        <li>Não utilize informações pessoais na senha, como datas de nascimento ou nomes;</li>
                        <li>Se existir a possibilidade, ative a autenticação em duas etapas em todos as contas;</li>
                        <li>A sua senha é pessoal, então só compartilhe se necessário.</li>
                    </ul>
                    <p>
                        Se você tem diversas contas e precisa utilizar muitas senhas durante o uso do seu smartphone, computador ou tablet, uma ótima dica é utilizar um aplicativo de gerenciamento de senhas. Se você não quiser cadastrar suas senhas em um gerenciador, também pode utilizar técnicas de memorização para lembrar de todas as palavras-chaves. Uma boa estratégia para lembrar das senhas é utilizá-las constantemente.
                    </p>
                    <p>
                        Não se esqueça que não é apenas uma senha que define a sua segurança, já que os criminosos podem utilizar outros meios para descobri-la. Por exemplo, eles podem utilizar malwares para invadir seu computador e roubar seus dados pessoais, mas a senha ainda é um dos fatores mais importantes para manter a proteção das suas contas.
                    </p>
                </div>
                <div class="later_">
                    <img src="https://s2-techtudo.glbimg.com/p4hFkfzFv_tbyY-Scy3XaQR-2RE=/400x0/smart/filters:strip_icc()/s.glbimg.com/po/tt2/f/original/2014/09/11/f5b00985012fdbdc123139268817.jpeg" alt="">
                </div>
            </div>
            
        </article>
    </main>
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-section about">
                    <p>Em Casa</p>
                    <p>Giro da Notícia</p>
                    <p>Imagens Malucas</p>
                    <p>Me Conheça</p>
                </div>
                <div class="footer-section links">
                    <h3>Links Úteis</h3>
                    <ul>
                        <li><a href="#">Termos de Serviço</a></li>
                        <li><a href="#">Política de Privacidade</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </div>
                <div class="footer-section contact">
                    <h3>Contato</h3>
                    <p>Email: cesar@obj.com</p>
                    <p>XX XXXXX-XXXX</p>
                </div>
            </div>
            <div class="footer-bottom">
                &copy; 2024 Mito ou Verdade | Todos os direitos reservados
            </div>
        </div>
    </footer>
    
</body>
</html>
