<!doctype html>
<html ⚡>
<head>
    <meta charset="utf-8">
    <title>Exemplo de AMP com Anúncios</title>
    <link rel="canonical" href="self.html">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script type="module" src="https://assets.r7.com/cda-ad-player/cda-ad-player/cda-ad-player.esm.js"></script>
    <style amp-custom>
        /* Adicione seu estilo personalizado aqui */
    </style>
</head>
<body>
    <!-- 
      O 'ad-hash' é um identificador global que deve ser único para cada anúncio. 
      Utilize a seguinte estrutura para criar o seu hash, substituindo as partes conforme necessário:
      
      Estrutura: /[ID_UNICO]/[PARCEIRO]/[CATEGORIA]/[TIPO_DE_ANUNCIO]
      
      Exemplo genérico:
    -->
    <cda-ad-player ad-hash="/1234/exemplo/parceiro/video"></cda-ad-player>

    <!-- Conteúdo adicional da página -->
</body>
</html>
