<!doctype html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="canonical" href="self.html">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <title>Anúncio AMP</title>
  </head>
  <body>

    <amp-state id="pagepath">
      <script type="application/json">
        {
          "path": "/categoria/exemplo"
        }
      </script>
    </amp-state>

    <h1>TEste </h1>
    <amp-ad
      width="300"
      height="250"
      type="doubleclick"
      data-slot="/7542/parceiros/amomeupet/video"
      json='{
        "targeting": {
          "categoria": "{{pagepath.path}}",
          "key2": "value2"
        }
      }'>
    </amp-ad>

  </body>
</html>
